<!-- This is 'index.html' for Coastal Hacks Hackathon -->

<!DOCTYPE html>
<html lang = "en">

    <!-- This is the Head Section -->
    <head>

        <!-- Meta Information for Search Engine -->
        <meta charset = "UTF-8">
        <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <!-- Title of Website -->
        <title>Yoga App</title>

        <!-- Link to the favicon -->
        <link rel = "shortcut icon" href = "/images/logo.jpg" type = "image/x-icon">

        <!-- Link to the 'styles.css' file -->
        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel = "stylesheet">
        <link rel = "stylesheet" href = "https://www.w3schools.com/w3css/4/w3.css">
        <link rel = "stylesheet" href = "/css/styles.css">

        <!-- Bootstrap scripts -->
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!-- Fontawesome icons Script -->
        <script src = "https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg = "nest"></script>

    </head>

    <!-- This is the Body Section -->
    <body>

        <!-- This is the Header Section -->
        <section class = "top">
            <header>
                <div class = "part-1">
                    <a href = "#"><h3>Yoga App</h3></a>
                </div>
                <div class = "part-2">
                    <div class = "one"></div>
                    <div class = "two"></div>
                    <div class = "three"></div>
                </div>
                <div class = "part-3">
                    <div class = "dropdown">
                        <a class = "btn dropdown-toggle" href = "#" role = "button" id = "dropdownMenuLink" data-toggle = "dropdown" aria-haspopup = "true" aria-expanded = "false">
                            <i class = "fas fa-user-circle"></i>
                        </a>
                        <div class = "dropdown-menu" aria-labelledby = "dropdownMenuLink">
                          <div class = "details dropdown-item">
                            <li class="user"><%= data[0].name %></li>
                            <li id = "user-email" class="user-email"><%= data[0].email %></li>
                          </div>
                          <a class = "dropdown-item" href = "/api/logout"><button class = "btn btn-danger">Logout</button></a>
                        </div>
                    </div>
                </div>
            </header>
        </section>

        <section class = "banner">
            <div class = "part-1">
                <div class = "first">
                    <h3>Welcome <%= data[0].name %> !!!</h3>
                    <p>Your Monthly subscription ends in <span><%= remainingDays %></span> days</p>
                    <p>Your Current Batch is <span><%= data[0].batch %></span> </p>
                    <% if (remainingDays > 0) 
                        { 
                            %>
                                <div style = "display: flex; width: max-content; gap: 1rem;">
                                    <button id = "open1" class = "btn btn-primary">Change Batch</button>
                                    <button id = "open2" class = "btn btn-primary">Renew Subscription</button>
                                </div>
                            <%
                        } 
                        else 
                        { 
                            %>
                                <button id = "open" class = "btn btn-primary" disabled>Change Batch</button>
                                <button id = "open" class = "btn btn-primary" disabled>Renew Subscription</button>
                            <% 
                        } 
                    %>
                </div>
            </div>
        </section>

        <div class = "popupContainer">
            <div class = "popup">
                <i id = "close1" class = "fas fa-times" id = "close"></i>
                <div class = "mb-3">
                    <div class = "fdkfjk">
                        <img src="/images/yoga.jpg" alt="">
                    </div>
                    <h4 style = "font-weight: bold;">Want to Renew Your Monthly subscription?</h4>
                    <p> 
                        Your Current Batch is: <span><%= data[0].batch %></span>
                        <br />
                        <br />
                        If you want to change your batch timings, select a new batch
                    </p>

                    <form action="/api/dashboard" method="POST">
                        <select name = "batch" id = 'batch-select' class = "form-select form-select" aria-label = ".form-select example">
                            <option selected value = '-1'>Select a Batch</option>
                            <option value = "0">6-7 AM</option>
                            <option value = "1">7-8 AM</option>
                            <option value = "2">8-9 AM</option>
                            <option value = "3">5-6 PM</option>
                        </select>
                        <br />
                        <button type = "submit" class = "btn btn-success" type = "submit">Change Batch</button>
                    </form>                
                </div>
            </div>
        </div>

        <div class="modelContainer">
            <div class = "model">
                <i class = "fas fa-times" id = "close2"></i>
                <img class = "pay-img" src = '/images/tick.png' alt = "Success" />
                <h2>Payment Successful !</h2>
                <p>Continue with your Fitness goals !!!</p>
            </div>
        </div>
    
    </body>

    <script src = "/js/script.js"></script>
    
    <!-- Script to the Bootstap CDN -->
    <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

</html>